.container{
    
    margin-top: 20px;
    height: 87vh;
}

.characters{
    max-width: 250px;
}

.characters h2{
    font-size: 20px;
}
.characters img{
    width: 220px;
    height: 320px;
    object-fit: cover;
}

.houses img{
    width: 220px;
    height: 320px;
    object-fit: contain;
}


.container-characters{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

